*.DS_Store
*.pyc
*.swp
*.pth
.vscode/
__pycache__/
ml4a.egg*
build
dist
*.ipynb_checkpoints*
Pipfile*
examples/info_retrieval/101_ObjectCategories
examples/info_retrieval/caltech-101/101_ObjectCategories.tar.gz
examples/info_retrieval/caltech-101.zip
examples/info_retrieval/caltech-101
